mixin section-works
	section.section.section-works#section-works
		.container
			.row
				.works__img.col-xl-10.offset-xl-1.col-10
				ul.col-xl-10.col-lg-12.col-12.offset-xl-1.works__list
					each item in data.worksEN
						+work(item)
				//-a#more(href="#").col-xl-10.col-lg-12.col-12.offset-xl-1.works__btn-more Больше наших работ &#8250;