mixin section-first-screen
	section.section.section-first#section-first
		.container
			.logo
				img(src="./images/logo.svg", alt="Spectr logo")
			.home.row.align-items-end
				.col-xl-5.col-lg-6.col-md-7.col-sm-12.offset-xl-1
					h1.home__title
						.title We create products that work
				.col-xl-4.col-lg-5.col-md-4.col-sm-12.offset-lg-1
					.home__descr
						.home__descr-title SMM & WEB
						.home__descr-text Full cycle from start to success.