.navigation {
  transition: all 0.5s ease-in-out;  
  &__item {
    margin: 0;
    padding: 12px;
    cursor: pointer;
    writing-mode: vertical-lr;
    position: relative;
    transform: rotate(180deg);   
    a {
      font-family: 'AkzidenzGroteskPro-Ext';
      color: $textGray;
      font-size: 14px;
      line-height: 100%; 
      text-transform: lowercase; 
      @include media768 {
        font-size: 12px;
        line-height: 120%;
      } 
    }
    &:hover a {
      color: $textWhite;
    }
  }
}
.navigation__item a.active {
  color: $textWhite;
}