mixin section-contacts
	section.section.section-contacts#section-contacts
		.container
			.row
				.offset-xl-1.col-xl-10.col-lg-12.col-12.contacts__box
					.contacts__wrap-box
						.contacts__wrap
							.contacts__title 
								span Понравилось? 
								span Свяжитесь с нами 
							.contacts__descr
								a(href="tel:375291335417") 375 29 133 54 17
								a(href="mailto:hello@spektr.digital") hello@spektr.digital
					.section-footer
						+footer