mixin nav
  nav.navigation
    ul.navigation__list
      li.navigation__item: a.navigation__link(href="#section-services") Услуги
      li.navigation__item: a.navigation__link(href="#section-works")  Работы
      li.navigation__item: a.navigation__link(href="#section-contacts")  Контакты
       