mixin section-services
	section.section.section-services#section-services
		.container
			.services.row
				.col-xl-5.col-lg-6.col-md-7.col-ms-12.offset-xl-1
					.stickyBlock
						h2.services__title Вместе мы сможем написать историю вашего бизнес-успеха
						p.services__descr Наша миссия - сделать все, чтобы ваш продукт стал узнаваемым, а бренд - успешным.
				.col-xl-4.col-lg-5.col-md-5.col-ms-12.offset-lg-1
					ul.services__list
						each item, i in data.services
							li.services__item
								.services__item-number= `0${i + 1}`
								.services__item-title= item.title
								.services__item-text
									each p in item.text
										div= p