.section-services {
  margin-bottom: 418px;
  @include media1366 {
    margin-bottom: 265px;
  }
  @include media1088 {
    margin-bottom: 192px;
  }  
  @include media768 {
    margin-bottom: 174px;
  }
}
.services { 
  // @include media768 {
  //   padding-left: 32px;
  // } 
  &__img {
    margin-top: 20px;
    margin-bottom: 54px;
    @include media1366 {
      max-width: 398px;
      margin-bottom: 20px;
      margin-top: 0;
    }
    @include media768 {
      padding-left: 32px;
    }
    img {
      width: 100%;
    }
  }
  &__title {
    font-family: 'AkzidenzGroteskPro-Ext';
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 40px;
    @include media1366 {
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 32px;
    }
    @include media1088 {
      font-size: 32px;
      line-height: 42px;
    }
    @include media768 {
      font-size: 26px;
      line-height: 130%;
      margin-bottom: 28px;
      padding-left: 32px;
    }
  }
  &__descr {
    font-size: 25px;
    line-height: 37px;
    color: $textGray;
    @include media1366 {
      font-size: 20px;
      line-height: 30px;
    }
    @include media1088 {
      width: 362px;
      //padding-top: 10px;
    }
    @include media768 {
      font-size: 18px;
      line-height: 27px;
      width: auto;
      margin-bottom: 56px;
      padding-left: 32px;
    }
  }
  &__list {
    @include media1088 {
      padding-left: 12px;
    }
    @include media768 {
      padding-left: 100px;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 56px;
    &:last-child {
      margin-bottom: 0;
    }
    @include media1366 {
      margin-bottom: 46px;
    }    
  }
  &__item-number {
    font-family: 'AkzidenzGroteskPro-Ext';
    font-size: 14px;
    line-height: 100%;
    color: $textGray;
    position: absolute;
    top: 5px;
    right: -145px;
    &:before {
      content: '\2014';
      color: $textGray;
      position: absolute;
      left: -18px;
    }
    @include media1366 {
      right: -36px;
    }
    @include media768 {
      right: 0;
      left: -50px;
    }
  }
  &__item-title {
    font-family: 'AkzidenzGroteskPro-Ext';
    font-size: 48px;
    line-height: 62px;
    color: $textLightGray;
    margin-bottom: 24px;
    @include media1366 {
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 18px;
    }
    @include media1088  {
      font-size: 32px;
      line-height: 42px;
    }
    @include media768 {
      font-size: 26px;
      line-height: 34px;
    }
  }
  &__item-text {    
    font-size: 20px;
    line-height: 30px;
    color: $textGray;
    @include media1366 {
      font-size: 16px;
      line-height: 22px;
    }
    @include media1088 {
      max-width: 220px;
    }
  }
}