mixin svg (name, mod)
	- mod = mod || ' '
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="css/symbol/sprite.svg#" + name)

mixin work (item)
	li.works__item
		.works__item-descr
			h3.works__item-title= item.title
			p.works__item-text= item.descr
		ul.works__item-links
			if (item.vk)
				li.works__item-link
					a(href= item.vk target="_blank") vk
			if (item.inst)		
				li.works__item-link
					a(href= item.inst target="_blank") inst
			if (item.fb)		
				li.works__item-link
					a(href= item.fb target="_blank") fb		