.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 50px;  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include media768 {
    width: 40px;
  }
  &__nav {
    margin-top: 24px;
    @include media768 {
      margin-top: 14px;
    }
  }
  &__language {
    margin-bottom: 24px;
    @include media768 {
      margin-bottom: 10vh;
    }
  }
}
.btn-language {
  font-family: 'AkzidenzGroteskPro-Ext';
  color: $textGray;
  font-size: 14px;
  line-height: 100%;
  writing-mode: vertical-lr;
  position: relative;
  transform: rotate(180deg);
  @include media768 {
    font-size: 12px;
    line-height: 120%;
  }
  &:hover {
    color: $textWhite;
  }  
}  