mixin section-contacts
	section.section.section-contacts#section-contacts
		.container
			.row
				.offset-xl-1.col-xl-10.col-lg-12.col-12.contacts__box
					.contacts__wrap-box
						.contacts__wrap
							.contacts__title 
								span Do not waste time and money! 
								span Call us!
							.contacts__descr
								a(href="tel:375298623202") 375 29 862 32 02
								a(href="mailto:hello@spektr.digital") hello@spektr.digital
					.section-footer
						+footer