.section-works {
  margin-bottom: 400px;
  @include media1366 {
    margin-bottom: 216px;
  }
}
.works { 
  &__list {
    margin-bottom: 44px;
    @include media1366 {
      margin-bottom: 32px;
    }    
  } 
  &__img {
    width: 100%;
    margin-bottom: 74px;
    position: relative;
    @include media1366 {
      margin-bottom: 40px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 56px;
    border-top: 1px solid $colorGray;
    transition: .5s ease-in-out; 
    &:hover &-title, &:hover &-text {
      color: $textWhite;      
    }
    @include media1366 {
      padding: 16px 0 44px;
    }
    @include media768  {
      flex-direction: column;
      padding: 16px 0 44px;
      padding-left: 32px;
    }   
  }
  &__item-title {
    font-size: 48px;
    line-height: 100%;
    font-family: 'AkzidenzGroteskPro-Ext';
    color: $textLightGray;
    margin-bottom: 16px;
    @include media1366 {
      font-size: 40px; 
      margin-bottom: 11px;     
    }
    @include media1088 {
      font-size: 32px;
    }
    @include media768 {
      font-size: 26px;
      line-height: 100%;
    }
  }
  &__item-text {
    font-size: 20px;
    line-height: 30px;
    color: $textGray;
    @include media1366 {
      font-size: 16px;
      line-height: 22px;
    }
    @include media768 {
      margin-bottom: 24px;
    }
  }
  &__item-links {
    display: flex;
  }
  &__item-link {
    font-family: 'AkzidenzGroteskPro-Ext';
    font-size: 48px;
    line-height: 100%;
    margin-left: 48px;
    transition: .5s ease-in-out;
    &:first-child {
      margin-left: 0;
    }
    @include media1366 {
      font-size: 40px;
      margin-left: 42px;
    }
    @include media1088 {
      font-size: 32px;
    }
    @include media768 {
      font-size: 26px;
      line-height: 100%;
    }
    @include media768 {
      margin-left: 24px;
    }
    a {
      color: $textGray;
    }
    &:hover a {
      color: $accent;
    }
  }
  &__btn-more {
    font-size: 48px;
    line-height: 62px;
    color: $textLightGray;
    font-family: 'AkzidenzGroteskPro-Ext';
    @include media1366 {
      font-size: 40px;
      line-height: 52px;
    }
    @include media1088 {
      font-size: 32px;
      line-height: 42px;
    }
    @include media768 {
      font-size: 26px;
      line-height: 34px;
      margin-left: 32px;
      max-width: 288px;
    }
    &:hover {
      color: $accent;
    }
  }
}
.works__more {
  display: none;
}
.works__img {
  position: relative;
  //transform: translateX(60vh);
}
#imgWorks {
  position: relative;
  will-change: transition;
  //transition: .5s;
  //transform: translateX(60vh);
}
.imgWrapper {
  // position: absolute;
  // top: 0px;
  // background-color: $textWhite;
  // height: 107px;
  // width: 1050px;
  // font-size: 138px;
  // line-height: 110px;
  // font-family: 'AkzidenzGroteskPro-Ext';
  // font-weight: 900;
  // color: $textWhite;
  // overflow: hidden;
  // clip-path: url('/images/works.svg');
}
