extends static/pug/template__EN
include components__EN/components

block variables
	- var title = 'Spectr.digital'
	- var description = 'description'
	- var keywords = 'keywords'

block content

	div.page__wrapper#fullpage
		+header
		+section-first-screen
		+section-services
		+section-works       
		+section-contacts  
	